#home {
    height: 100vmin;
    background: #f8f9fa;

    #banner-top {
        height: 18rem;
        background: url('../../images/24393.png') no-repeat center;
        background-size: cover;
        transition: 0.3s;
        position: relative;
        border-bottom: 1px solid #cacaca;

        .home-logo {
            position: absolute;
            bottom: -3rem;
            left: 5%;
            z-index: 995;
            img {    
                width: 28vmin;
                height: 7.5rem;
            }
        }

        #home-navigation-auth {
            position: absolute;
            bottom: -1rem;
            right: 1%;
            z-index: 995;
            a {
                text-decoration: none;
                margin: 0 1.25rem;
                padding: 0.625rem 1.5rem;
                transition: 0.3s;
                background: #235eff;
                box-shadow: 0 0 5px #9e9e9e;
                color: #fff;
                border-radius: 10px;
                font-weight: bold;

                @media (max-width: 576px) {
                    & {
                        margin: 0 0.5rem;
                        padding: 0.625rem;
                        font-size: 0.8rem;
                    }
                }
            }

            button {
                @media (max-width: 576px) {
                    & {
                        margin: 0;
                        padding: 0.3rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    #home-content {
        padding-top: calc(10vmin + 10px);
    }

    // #home-navigation-auth {
    //     margin-top: 5rem;
    //     a {
    //         margin: 0 1.25rem;
    //     }
    // }
}